<div>
	<a class="restaurant-image-wrapper" href="{{restaurant.websiteUrl}}" title="{{restaurant.websiteUrlTitle}}">
		<img src="{{restaurant.imageUrl}}" alt="{{restaurant.imageAlt}}" />
	</a>
	<a class="headline-link" href="{{restaurant.websiteUrl}}" title="{{restaurant.websiteUrlTitle}}">
		<h2 class="restaurant-name">{{restaurant.name}}</h2>
	</a>
	<div class="restaurant-address">
		<p>{{restaurant.addressLine1}}</p>
		<p ng-show="restaurant.town && restaurant.zip">
			<span class="location-filter-btn" ng-click="filterLocation(restaurant.town)">{{restaurant.town}}</span>, {{restaurant.state}} {{restaurant.zip}}</p>
	</div>
    <p class="restaurant-phone">{{restaurant.phone}}</p>
    <ul class="cta-list inline-list">
        <li ng-if="restaurant.menuLink">
            <a href="{{restaurant.menuLink}}" target="_self">Menu</a></li>
        <li ng-if="restaurant.reservationsLink">
            <a href="{{restaurant.reservationsLink}}" target="_self">Reservations</a></li>
    </ul>
	<div class="categories">
		<ul class="tag-list">
			<li ng-repeat="category in restaurant.categories">
				<span class="tag" ng-click="filterCategory(category)">{{category}}</span>
			</li>
		</ul>
	</div>
</div>