.card {
	border-bottom: 15px solid $green;
	background: $gray-lightest;
	margin: 30px auto;
	
	.card-content {
		margin-bottom: 15px;
		padding: 10px;
	}
	
	h3 {
		margin-top: 5px;
	}

	img {
	  width: 100%;
	} 
  }