.contact-form-container form {
    background: $gray-lightest;
    box-shadow: $default-box-shadow;
    margin-bottom: 30px;
    padding: 15px 15px 0;
    h3 {
        font-size: 2.1em;
    }
}

.contact-form-container form {
    label,
    input,
    textarea {
        display: block;
        font-size: 16px;
    }
    label {
        font-weight: 700;
        margin-bottom: 10px;
    }
    button {
        border: none;
    }
    input,
    textarea {
        border: 1px solid $gray-light;
        margin-bottom: 15px;
        padding: 10px 10px 10px 20px;
        width: 100%;
    }
    input,
    button {
        border-radius: 100px;
    }
    label,
    textarea {
        font-family: $default-body-font;
    }
    textarea {
        border-radius: 20px;
        height: 125px;
    }
    .SEAFWrapper:last-child {
        padding-bottom: 40px;
        padding-top: 40px;
        text-align: center;
    }
}

.contact-form-container form legend {
	@extend h3;
	border: none !important;
}

.contact-form-container form legend,
.contact-form-container form .seText,
.contact-form-container form .required-message {
    margin: 0 0 10px 0;
    padding: 0;
}

.contact-form-container form .required-message {
    font-family: $default-body-font;
    font-style: italic;
    margin-bottom: 15px;
}

.contact-form-container form input[type="submit"] {
	cursor: pointer;
	display: inline-block;
    padding: 10px 10px;
    transition: background 0.2s ease;
    background: $primary-color;
    color: white;
    font-size: 22px;
    padding: 12.5px 90px;
    width: auto;
    &:hover {
        background: $secondary-color;
    }
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    /* Chrome/Opera/Safari */
    color: $gray-lightest;
}

.contact-form-container form button:focus,
.contact-form-container form input:focus,
.contact-form-container form textarea:focus {
    outline: none;
    box-shadow: 0px 0px 2px blue;
}

@media screen and (max-width: $container-sm) {
    .contact-form-container form {
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px 30px;
    }
}