.hero-unit {
  border-top: 25px solid $green;
  position: relative;

  .hero-carousel-item {
    width: 100%;
  }
  .notification-banner {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
  }
}

@media screen and (max-width: $screen-sm) {
	.hero-unit .notification-banner {
	  position: static;
	}
}
