.navigation-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		border-right: 1px solid $gray;
		display: inline-block;
		a {
			color: $primary-color;
			display: block;
			font-size: 1.2em;
			font-weight: 900;
			padding: 5px 10px;
			text-decoration: none;
			display: flex;
			align-items: center;
			transition: color .25s ease;
			&:hover {
				color: $secondary-color;
			}
			i {
				margin-left: 10px;
			}
		}
		&:last-child {
			border: none;
		}
	}
}