.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-right: 1px solid $gray;
    display: inline-block;

    a {
	  display: block;
	  font-size: 1.2em;
	  font-weight: 900;
      padding: 5px 10px;
	  text-decoration: none;
	  
      display: flex;
	  align-items: center;
	  
	  i {
		  margin-left: 10px;
	  }
	}
	
	&:last-child {
		border: none;
	}
  }
}

@media screen and (max-width: 1070px) {
  .navigation-list li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .navigation-list {
    display: none;
  }
  .navigation-list.mobile.active {
    background: $mobile-nav-background-color;
    display: block;
    font-size: 22px;
    position: absolute;
    margin: auto;
    bottom: -511px;
    left: 0;
    text-align: center;
    width: 100%;

    li {
      display: block;
      margin: 30px 15px;
      text-align: center;

      a {
        background: $secondary-color;
        color: white;
        display: block;
        margin: 10px auto;
        padding: 15px 10px;
      }
    }
    .navigation-list-item.follow-us {
      a {
        background: none;
        font-size: 1.4em;
        padding: 30px 0;
      }
      .link-text {
        display: none;
      }
    }
  }
}
