.overlay {
	display: none;

	&.active {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		height: 100%;
		width: 100%;
		opacity: .7;
		background: black;
		z-index: 99;
	}
}