.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  max-width: $screen-lg;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .page-header {
    position: relative;
  }
}
