.restaurant-filter-container {
	background: $gray-lightest;
	margin-bottom: 30px;
}
.restaurant-filter {
	padding: 20px 0;
	flex: 0 1 100%;
	display: flex;
	align-items: center;
	
	.filter-input {
		display: block;
		padding: 10px;
		width: 100%;
	}
}
.restaurant-filter-input {
	position: relative;
	width: 73%;

	.clear-filter-btn {
		cursor: pointer;
		font-size: 1.25em;
		position: absolute;
		right: 15px;
		top: 13px;
	}
}
.restaurant-filter-headline {
	border-right: 1px solid $gray-light;
	font-family: $default-headline-font;
	font-size: 1.7em;
	font-weight: 900;
	padding: 0 40px 0 0;
	margin: 0 40px 0 0;
}
.restaurant-filter-no-results {
    font-weight: 500;
    font-size: 20px;
    max-width: 1300px;
    margin: auto;
	padding: 15px 30px;
}

@media screen and (max-width: 768px) {
	.restaurant-filter {
		display: block;
	}
	.restaurant-filter-input {
		width: 100%;
	}
	.restaurant-filter-headline {
		border: none;
		margin-bottom: 10px;
	}
}