/* Theme colors and accents */
$primary-color: #9a1b27;
$secondary-color: #da1805;
$mobile-nav-background-color: #fdb72e;
$mobile-background-color: #420a0f;

/* Text colors */
$black: black;
$gray-dark: #333;
$gray: #666;
$gray-medium: #999;
$gray-light: #ccc;
$gray-lightest: #f5f5f5;
$required-orange: #ff570c;

$green: #fdb72e;