/* Theme colors and accents */
$primary-color: #9a1b27;
$secondary-color: #E95B19;
$mobile-nav-background-color: #fdb72e;

/* Text colors */
$black: black;
$gray-dark: #333;
$gray: #666;
$gray-medium: #999;
$gray-light: #ccc;
$gray-lightest: #eee;
$required-orange: #ff570c;

$green: #fdb72e;