/* Theme colors and accents */
$primary-color: #26586d;
$secondary-color: #54a7da;
$mobile-nav-background-color: #3e7da4;

/* Text colors */
$black: black;
$gray-dark: #333;
$gray: #666;
$gray-medium: #999;
$gray-light: #ccc;
$gray-lightest: #eee;
$required-orange: #ff570c;

$green: #aecc36;