@import url('https://fonts.googleapis.com/css?family=Neuton|Open+Sans|Open+Sans+Condensed:300');

$san-serif: 'Open Sans', sans-serif;
$san-serif-light: 'Open Sans Condensed', sans-serif;
$serif: 'Neuton', serif;

$default-headline-font: $serif;
$default-body-font: $san-serif;
$default-body-font-light: $san-serif-light;