@import url('https://fonts.googleapis.com/css?family=Neuton|Open+Sans');

$san-serif: 'Open Sans', sans-serif;
$serif: 'Neuton', serif;

$default-headline-font: $serif;
$default-body-font: $san-serif;