.btn-download {
	background: $gray-lightest;
	border: none;
	border-radius: 100px;
	align-items: center;
	padding-left: 15px !important;
	padding-right: 15px !important;

	i {
		color: $secondary-color;
		display: inline-block;
		margin: auto 5px;
	}
}
.flex-btn-content {
	display: flex;
	align-items: center;
}
.location-filter-btn {
    @extend a;
}